<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pers.sxqsachin.mtgsearcher">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MTGSearcher"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MTGSearcherTheme.Default">

        <activity android:name="pers.sxqsachin.mtgsearcher.ui.activity.Activity_Init">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name="pers.sxqsachin.mtgsearcher.ui.activity.Activity_Main">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="pers.sxqsachin.mtgsearcher.ui.activity.Activity_Search">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="pers.sxqsachin.mtgsearcher.ui.activity.Activity_SearchResult">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="pers.sxqsachin.mtgsearcher.ui.activity.Activity_CardDetail">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="pers.sxqsachin.mtgsearcher.ui.activity.Activity_ImageView">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
